.containerLogin{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.containerLogin form{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #4b4b4b;
    color: #fff;
    padding: 50px;
    text-align: start;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    font-weight: 900;
    font-size: 15px;
}

.containerLogin form label input {
    padding: 5px;
    color: #a7a7a7;
    background-color: transparent;
    border: none;
    border-bottom: 1px #fff solid;
}

.containerLogin form label input:focus{
    outline: none;
}

.containerLogin form label {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.submitLogin {
    width: 50%;
    border: none;
    background-color: #dadada;
    color: #000000;
    font-size: 15px;
    font-weight: 900;
    margin-top: 20px;
    border-radius: 25px;
    padding: 10px 0 ;
    cursor: pointer;
}   

a {
    color: white;
}