.containerMoney{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    justify-content: space-around;
    background-color: #0CCE42;
    color: white;
    width: 100%;
    height: 47vh;
    padding: 0 10px;
}

.headerMoney{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footerMoney{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
}